In [2]:
#Import neccessary libraries
import pandas as pd
import json

**Match Results**

In [3]:
#opening the json file
with open ('t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)

#converting to a DataFrame
df_match_results = pd.DataFrame(data[0]['matchSummary'])
df_match_results.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [4]:
#No of rows and columns
df_match_results.shape

(45, 7)

In [5]:
''' In the DataFrame , Scorecard can be identyfied as the unique column. So it can be considered as the 
    Primarykey
'''
#Converting the column scorecard into matchid

df_match_results.rename({'scorecard':'match_id'}, axis=1 , inplace = True)
df_match_results.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [15]:
# Exporting the MatchResult DataFrame into csv
df_match_results.to_csv('t20_csv_files/processed_match_results.csv', index=False)

In [6]:
# Creating a Key:Value pair using, Team1 and Team2 as KEY and match_id as VALUE.

# Note: Here we create the reverse version of Team2 Vs Team1. 

match_id_dict = {}

for index , row in df_match_results.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']

    match_id_dict[key1] = row['match_id']
    match_id_dict[key2] = row['match_id']


match_id_dict

{'Namibia Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka Vs Namibia': 'T20I # 1823',
 'Netherlands Vs U.A.E.': 'T20I # 1825',
 'U.A.E. Vs Netherlands': 'T20I # 1825',
 'Scotland Vs West Indies': 'T20I # 1826',
 'West Indies Vs Scotland': 'T20I # 1826',
 'Ireland Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe Vs Ireland': 'T20I # 1828',
 'Namibia Vs Netherlands': 'T20I # 1830',
 'Netherlands Vs Namibia': 'T20I # 1830',
 'Sri Lanka Vs U.A.E.': 'T20I # 1832',
 'U.A.E. Vs Sri Lanka': 'T20I # 1832',
 'Ireland Vs Scotland': 'T20I # 1833',
 'Scotland Vs Ireland': 'T20I # 1833',
 'West Indies Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe Vs West Indies': 'T20I # 1834',
 'Netherlands Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka Vs Netherlands': 'T20I # 1835',
 'Namibia Vs U.A.E.': 'T20I # 1836',
 'U.A.E. Vs Namibia': 'T20I # 1836',
 'Ireland Vs West Indies': 'T20I # 1837',
 'West Indies Vs Ireland': 'T20I # 1837',
 'Scotland Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe Vs Scotland': 'T20I # 1838',
 'Australia Vs New Zealand': 'T20I # 1839',
 'New Zealand Vs Australia': 'T20I # 1839',
 'Afghanistan Vs England': 'T20I # 1840',
 'England Vs Afghanistan': 'T20I # 1840',
 'Ireland Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka Vs Ireland': 'T20I # 1841',
 'India Vs Pakistan': 'T20I # 1842',
 'Pakistan Vs India': 'T20I # 1842',
 'Bangladesh Vs Netherlands': 'T20I # 1843',
 'Netherlands Vs Bangladesh': 'T20I # 1843',
 'South Africa Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe Vs South Africa': 'T20I # 1844',
 'Australia Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka Vs Australia': 'T20I # 1845',
 'England Vs Ireland': 'T20I # 1846',
 'Ireland Vs England': 'T20I # 1846',
 'Afghanistan Vs New Zealand': 'T20I # 1846a',
 'New Zealand Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh Vs South Africa': 'T20I # 1847',
 'South Africa Vs Bangladesh': 'T20I # 1847',
 'India Vs Netherlands': 'T20I # 1848',
 'Netherlands Vs India': 'T20I # 1848',
 'Pakistan Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe Vs Pakistan': 'T20I # 1849',
 'Afghanistan Vs Ireland': 'T20I # 1849a',
 'Ireland Vs Afghanistan': 'T20I # 1849a',
 'Australia Vs England': 'T20I # 1849b',
 'England Vs Australia': 'T20I # 1849b',
 'New Zealand Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka Vs New Zealand': 'T20I # 1850',
 'Bangladesh Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe Vs Bangladesh': 'T20I # 1851',
 'Netherlands Vs Pakistan': 'T20I # 1852',
 'Pakistan Vs Netherlands': 'T20I # 1852',
 'India Vs South Africa': 'T20I # 1853',
 'South Africa Vs India': 'T20I # 1853',
 'Australia Vs Ireland': 'T20I # 1855',
 'Ireland Vs Australia': 'T20I # 1855',
 'Afghanistan Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka Vs Afghanistan': 'T20I # 1856',
 'England Vs New Zealand': 'T20I # 1858',
 'New Zealand Vs England': 'T20I # 1858',
 'Netherlands Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe Vs Netherlands': 'T20I # 1859',
 'Bangladesh Vs India': 'T20I # 1860',
 'India Vs Bangladesh': 'T20I # 1860',
 'Pakistan Vs South Africa': 'T20I # 1861',
 'South Africa Vs Pakistan': 'T20I # 1861',
 'Ireland Vs New Zealand': 'T20I # 1862',
 'New Zealand Vs Ireland': 'T20I # 1862',
 'Australia Vs Afghanistan': 'T20I # 1864',
 'Afghanistan Vs Australia': 'T20I # 1864',
 'England Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka Vs England': 'T20I # 1867',
 'Netherlands Vs South Africa': 'T20I # 1871',
 'South Africa Vs Netherlands': 'T20I # 1871',
 'Bangladesh Vs Pakistan': 'T20I # 1872',
 'Pakistan Vs Bangladesh': 'T20I # 1872',
 'India Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe Vs India': 'T20I # 1873',
 'New Zealand Vs Pakistan': 'T20I # 1877',
 'Pakistan Vs New Zealand': 'T20I # 1877',
 'England Vs India': 'T20I # 1878',
 'India Vs England': 'T20I # 1878',
 'England Vs Pakistan': 'T20I # 1879',
 'Pakistan Vs England': 'T20I # 1879'}

**Batting Summary**

In [7]:
with open('t20_json_files/t20_wc_batting_summary.json') as f:
    data = json.load(f)

    # data list has a sublist of battingSummary which groups up all the match between specific two teams
    
    # Looping through the battingSummary records and adding all the records into one list
    all_records = []
    for records in data:
        all_records.extend(records['battingSummary'])

#Coverting the merged records into dataframe
df_batting_summary = pd.DataFrame(all_records)
df_batting_summary.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [8]:
#Creating a new column 'Out/Not_Out' based on the disimissal column

df_batting_summary['out/not_out'] = df_batting_summary.dismissal.apply(lambda x : 'out' if len(x) > 0 else 'not_out')
df_batting_summary

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
...,...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,c Iftikhar Ahmed b Haris Rauf,10,9,2,0,111.11,out
695,Pakistan Vs England,England,4,Ben Stokes,,52,49,5,1,106.12,not_out
696,Pakistan Vs England,England,5,Harry Brook,c Shaheen Shah Afridi b Shadab Khan,20,23,1,0,86.95,out
697,Pakistan Vs England,England,6,Moeen Ali,b Mohammad Wasim,19,13,3,0,146.15,out
698,Pakistan Vs England,England,7,Liam Livingstone,,1,1,0,0,100.00,not_out

In [9]:
# Removing the dismissal column from the dataframe
df_batting_summary.drop(columns=["dismissal"], inplace=True)

In [10]:
df_batting_summary.head(11)

# List of all the batsmanName
# batsman = df_batting_summary['batsmanName'].unique().tolist()


#Removing special characters from the BatsmanName coloumn
df_batting_summary['batsmanName'] = df_batting_summary['batsmanName'].apply(lambda x : x.replace('â€' , ''))
df_batting_summary['batsmanName'] = df_batting_summary['batsmanName'].apply(lambda x : x.replace('\xa0' , ''))

df_batting_summary

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,10,9,2,0,111.11,out
695,Pakistan Vs England,England,4,Ben Stokes,52,49,5,1,106.12,not_out
696,Pakistan Vs England,England,5,Harry Brook,20,23,1,0,86.95,out
697,Pakistan Vs England,England,6,Moeen Ali,19,13,3,0,146.15,out
698,Pakistan Vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not_out

In [11]:
'''The Common ground between "Match Result" dataframe and "BattingSummary" dataframe can be build using the
dictionary match_id_dict. '''

df_batting_summary['match_id'] = df_batting_summary['match'].map(match_id_dict)
df_batting_summary

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,10,9,2,0,111.11,out,T20I # 1879
695,Pakistan Vs England,England,4,Ben Stokes,52,49,5,1,106.12,not_out,T20I # 1879
696,Pakistan Vs England,England,5,Harry Brook,20,23,1,0,86.95,out,T20I # 1879
697,Pakistan Vs England,England,6,Moeen Ali,19,13,3,0,146.15,out,T20I # 1879
698,Pakistan Vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not_out,T20I # 1879

In [14]:
# Exporting the DataFrame as a CSV file

df_batting_summary.to_csv('t20_csv_files/processed_batting_summary.csv', index=False)

Processing Bowling Sumamry

In [24]:
with open('t20_json_files/t20_wc_bowling_summary.json') as f:
    bowling_data = json.load(f)

    all_bowling_records = []

    for records in bowling_data:
        all_bowling_records.extend(records['bowlingSummary'])

df_bowling_summary = pd.DataFrame(all_bowling_records)

In [ ]:
df_bowling_summary['match_id'] = df_bowling_summary['match'].map(match_id_dict)
df_bowling_summary

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0,T20I # 1823
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0,T20I # 1823
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0,T20I # 1823
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0,T20I # 1823
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0,T20I # 1879
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0,T20I # 1879
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0,T20I # 1879
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0,T20I # 1879
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0,T20I # 1879

In [27]:
bowlers = df_bowling_summary['bowlerName'].unique().tolist()
bowlers

['Maheesh Theekshana',
 'Dushmantha Chameera',
 'Pramod Madushan',
 'Chamika Karunaratne',
 'Wanindu Hasaranga de Silva',
 'Gerhard Erasmus',
 'David Wiese',
 'Bernard Scholtz',
 'Ben Shikongo',
 'JJ Smit',
 'Jan Frylinck',
 'Fred Klaassen',
 'Tim Pringle',
 'Logan van Beek',
 'Bas de Leede',
 'Paul van Meekeren',
 'Roelof van der Merwe',
 'Junaid Siddique',
 'Basil Hameed',
 'Aayan Afzal Khan',
 'Karthik Meiyappan',
 'Zahoor Khan',
 'Zawar Farid',
 'Kashif Daud',
 'Kyle Mayers',
 'Akeal Hosein',
 'Alzarri Joseph',
 'Obed McCoy',
 'Jason Holder',
 'Odean Smith',
 'Mark Watt',
 'Brad Wheal',
 'Josh Davey',
 'Safyaan Sharif',
 'Michael Leask',
 'Josh Little',
 'Mark Adair',
 'Barry McCarthy',
 'Curtis Campher',
 'Simi Singh',
 'Gareth Delany',
 'Richard Ngarava',
 'Tendai Chatara',
 'Blessing Muzarabani',
 'Luke Jongwe',
 'Sean Williams',
 'Sikandar Raza',
 'Colin Ackermann',
 'Timm van der Gugten',
 'Jan Nicol Loftie-Eaton',
 'Aryan Lakra',
 'Dasun Shanaka',
 'George Dockrell',
 'Chris Greaves',
 'Ryan Burl',
 'Dhananjaya de Silva',
 'Lahiru Kumara',
 'Binura Fernando',
 'Ruben Trumpelmann',
 'Ahmed Raza',
 'Muhammad Waseem',
 'Wessly Madhevere',
 'Calum MacLeod',
 'Mitchell Starc',
 'Josh Hazlewood',
 'Pat Cummins',
 'Marcus Stoinis',
 'Adam Zampa',
 'Trent Boult',
 'Tim Southee',
 'Mitchell Santner',
 'Lockie Ferguson',
 'Ish Sodhi',
 'Ben Stokes',
 'Chris Woakes',
 'Mark Wood',
 'Sam Curran',
 'Adil Rashid',
 'Fazalhaq Farooqi',
 'Azmatullah Omarzai',
 'Mujeeb Ur Rahman',
 'Rashid Khan',
 'Fareed Ahmad',
 'Mohammad Nabi',
 'Bhuvneshwar Kumar',
 'Arshdeep Singh',
 'Mohammed Shami',
 'Hardik Pandya',
 'Ravichandran Ashwin',
 'Axar Patel',
 'Shaheen Shah Afridi',
 'Naseem Shah',
 'Haris Rauf',
 'Shadab Khan',
 'Mohammad Nawaz',
 'Shariz Ahmad',
 'Taskin Ahmed',
 'Hasan Mahmud',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Soumya Sarkar',
 'Mosaddek Hossain',
 'Kagiso Rabada',
 'Wayne Parnell',
 'Lungi Ngidi',
 'Keshav Maharaj',
 'Anrich Nortje',
 'Ashton Agar',
 'Mitchell Marsh',
 'Glenn Maxwell',
 'Liam Livingstone',
 'Fionn Hand',
 'Mehidy Hasan Miraz',
 'Afif Hossain',
 'Tabraiz Shamsi',
 'Mohammad Wasim',
 'Brad Evans',
 'Kasun Rajitha',
 'Brandon Glover',
 'Aiden Markram',
 'Gulbadin Naib',
 'Moeen Ali',
 'Shoriful Islam',
 'Naveen-ul-Haq',
 'Kane Richardson',
 'Cameron Green',
 'Charith Asalanka',
 'Iftikhar Ahmed',
 'Nasum Ahmed',
 'Ebadot Hossain',
 'Wellington Masakadza',
 'Chris Jordan']

In [28]:
df_bowling_summary.to_csv('t20_csv_files/processed_bowling_summary.csv', index = False)

Processing Player Info

In [30]:
with open('t20_json_files/t20_wc_player_info.json') as f:
    player_data = json.load(f)

df_players = pd.DataFrame(player_data)

df_players.shape

(219, 6)

In [35]:
players_name = df_players['name'].unique().tolist()
players_name

['Michael van Lingen',
 'Divan la Cock',
 'Jan Nicol Loftie-Eaton',
 'Stephan Baard',
 'Gerhard Erasmus(c)',
 'Jan Frylinck',
 'David Wiese',
 'JJ Smit',
 'Pathum Nissanka',
 'Kusal Mendis',
 'Dhananjaya de Silva',
 'Danushka Gunathilaka',
 'Bhanuka Rajapaksa',
 'Dasun Shanaka(c)',
 'Wanindu Hasaranga de Silva',
 'Chamika Karunaratne',
 'Pramod Madushan',
 'Dushmantha Chameera',
 'Maheesh Theekshana',
 'Gerhard Erasmus',
 'Bernard Scholtz',
 'Ben Shikongo',
 'Charith Asalanka',
 'David Warner',
 'Aaron Finch(c)',
 'Mitchell Marsh',
 'Glenn Maxwell',
 'Marcus Stoinis',
 'Josh Hazlewood',
 'Pat Cummins',
 'Mitchell Starc',
 'Ashton Agar',
 'Binura Fernando',
 'Lahiru Kumara',
 'Dasun Shanaka',
 'Regis Chakabva',
 'Craig Ervine(c)',
 'Wessly Madhevere',
 'Sean Williams',
 'Sikandar Raza',
 'Milton Shumba',
 'Ryan Burl',
 'Luke Jongwe',
 'Paul Stirling',
 'Andy Balbirnie(c)',
 'Lorcan Tucker',
 'Harry Tector',
 'Curtis Campher',
 'George Dockrell',
 'Gareth Delany',
 'Mark Adair',
 'Simi Singh',
 'Barry McCarthy',
 'Josh Little',
 'Richard Ngarava',
 'Tendai Chatara',
 'Blessing Muzarabani',
 'Hazratullah Zazai',
 'Rahmanullah Gurbaz',
 'Ibrahim Zadran',
 'Usman Ghani',
 'Najibullah Zadran',
 'Mohammad Nabi(c)',
 'Azmatullah Omarzai',
 'Rashid Khan',
 'Mujeeb Ur Rahman',
 'Fareed Ahmad',
 'Fazalhaq Farooqi',
 'Jos Buttler(c)',
 'Alex Hales',
 'Dawid Malan',
 'Ben Stokes',
 'Liam Livingstone',
 'Harry Brook',
 'Moeen Ali',
 'Chris Woakes',
 'Mark Wood',
 'Sam Curran',
 'Adil Rashid',
 'Mohammad Nabi',
 'Muhammad Waseem',
 'Vriitya Aravind',
 'Chundangapoyil Rizwan(c)',
 'Alishan Sharafu',
 'Basil Hameed',
 'Zane Green',
 'Ruben Trumpelmann',
 'Junaid Siddique',
 'Zahoor Khan',
 'Ahmed Raza',
 'Karthik Meiyappan',
 'Aayan Afzal Khan',
 'Chirag Suri',
 'Kashif Daud',
 'Zawar Farid',
 'Vikramjit Singh',
 "Max O'Dowd",
 'Bas de Leede',
 'Colin Ackermann',
 'Tom Cooper',
 'Scott Edwards(c)',
 'Roelof van der Merwe',
 'Tim Pringle',
 'Logan van Beek',
 'Fred Klaassen',
 'Paul van Meekeren',
 'Kyle Mayers',
 'Johnson Charles',
 'Evin Lewis',
 'Brandon King',
 'Nicholas Pooran(c)',
 'Rovman Powell',
 'Odean Smith',
 'Obed McCoy',
 'Akeal Hosein',
 'Alzarri Joseph',
 'Jason Holder',
 'Mohammad Rizwan',
 'Babar Azam(c)',
 'Shan Masood',
 'Iftikhar Ahmed',
 'Shadab Khan',
 'Haider Ali',
 'Mohammad Nawaz',
 'Asif Ali',
 'Shaheen Shah Afridi',
 'Haris Rauf',
 'KL Rahul',
 'Rohit Sharma(c)',
 'Virat Kohli',
 'Suryakumar Yadav',
 'Axar Patel',
 'Hardik Pandya',
 'Dinesh Karthik',
 'Ravichandran Ashwin',
 'Bhuvneshwar Kumar',
 'Arshdeep Singh',
 'Mohammed Shami',
 'Naseem Shah',
 'Najmul Hossain Shanto',
 'Soumya Sarkar',
 'Litton Das',
 'Shakib Al Hasan(c)',
 'Afif Hossain',
 'Yasir Ali',
 'Nurul Hasan',
 'Mosaddek Hossain',
 'Taskin Ahmed',
 'Hasan Mahmud',
 'Shariz Ahmad',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Fionn Hand',
 'George Munsey',
 'Michael Jones',
 'Matthew Cross',
 'Richie Berrington(c)',
 'Calum MacLeod',
 'Michael Leask',
 'Chris Greaves',
 'Shamarh Brooks',
 'Mark Watt',
 'Brad Wheal',
 'Josh Davey',
 'Safyaan Sharif',
 'Quinton de Kock',
 'Temba Bavuma(c)',
 'Kagiso Rabada',
 'Wayne Parnell',
 'Lungi Ngidi',
 'Keshav Maharaj',
 'Anrich Nortje',
 'Timm van der Gugten',
 'Finn Allen',
 'Devon Conway',
 'Kane Williamson(c)',
 'Glenn Phillips',
 'James Neesham',
 'Tim David',
 'Matthew Wade',
 'Adam Zampa',
 'Trent Boult',
 'Tim Southee',
 'Mitchell Santner',
 'Lockie Ferguson',
 'Ish Sodhi',
 'Aryan Lakra',
 'Stephan Myburgh',
 'Brandon Glover',
 'Shoriful Islam',
 'Daryl Mitchell',
 'Kasun Rajitha',
 'Deepak Hooda',
 'Rilee Rossouw',
 'Aiden Markram',
 'David Miller',
 'Tristan Stubbs',
 'Nasum Ahmed',
 'Mohammad Haris',
 'Mohammad Wasim',
 'Ebadot Hossain',
 'Heinrich Klaasen',
 'Brad Evans',
 'Fakhar Zaman',
 'Cameron Green',
 'Steven Smith',
 'Matthew Wade(c)',
 'Kane Richardson',
 'Gulbadin Naib',
 'Darwish Rasooli',
 'Naveen-ul-Haq',
 'Rishabh Pant',
 'Tony Munyonga',
 'Wellington Masakadza',
 'Tabraiz Shamsi',
 'Phil Salt',
 'Chris Jordan',
 'Regis Chakabva(c)',
 'Mehidy Hasan Miraz']

In [34]:
df_players['name'] = df_players['name'].apply(lambda x : x.replace("â€\xa0", ''))
df_players

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva(c),Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

In [36]:
df_players[df_players['team'] == 'Sri Lanka']

,name,team,battingStyle,bowlingStyle,playingRole,description
8,Pathum Nissanka,Sri Lanka,Right hand Bat,,Top order Batter,
9,Kusal Mendis,Sri Lanka,Right hand Bat,Legbreak,Wicketkeeper Batter,"Blessed with a compact technique, an aggressiv..."
10,Dhananjaya de Silva,Sri Lanka,Right hand Bat,Right arm Offbreak,Allrounder,A technically correct top-order batsman from t...
11,Danushka Gunathilaka,Sri Lanka,Left hand Bat,Right arm Offbreak,Allrounder,"A poised, attacking left-handed opener groomed..."
12,Bhanuka Rajapaksa,Sri Lanka,Left hand Bat,Right arm Medium,Top order Batter,"An attacking left-handed batsman, Bhanuka Raja..."
13,Dasun Shanaka(c),Sri Lanka,Right hand Bat,Right arm Medium,Allrounder,"An explosive middle-order batsman, and steady ..."
14,Wanindu Hasaranga de Silva,Sri Lanka,Right hand Bat,Legbreak,Allrounder,"A bruising lower-middle order batsman, and an ..."
15,Chamika Karunaratne,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowling Allrounder,
16,Pramod Madushan,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowler,
17,Dushmantha Chameera,Sri Lanka,Right hand Bat,Right arm Fast,Bowler,"Tall, slim and slippery, Dushmantha Chameera a..."
18,Maheesh Theekshana,Sri Lanka,Right hand Bat,Right arm Offbreak,Bowler,
22,Charith Asalanka,Sri Lanka,Left hand Bat,Right arm Offbreak,Batting Allrounder,
32,Binura Fernando,Sri Lanka,Right hand Bat,Left arm Medium fast,Bowler,Known for his ability to generate awkward boun...
33,Lahiru Kumara,Sri Lanka,Left hand Bat,Right arm Fast,Bowler,"A robust, right-arm fast bowler from Kandy, La..."
34,Dasun Shanaka,Sri Lanka,Right hand Bat,Right arm Medium,Allrounder,"An explosive middle-order batsman, and steady ..."
191,Kasun Rajitha,Sri Lanka,Right hand Bat,Right arm Medium fast,Bowler,"Virtually unheard of before 2015, the first in..."

In [37]:
df_players.to_csv('t20_csv_files/processed_players_info.csv' , index=False)